@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic&subset=latin,latin-ext);

*, textarea { 
  font-family: 'Gentium Plus';
}

body {
  display:flex;
  flex-direction:column;
  height:80vh;
}

header { 
  display:flex;
  border-bottom: 1px solid gray;
  justify-content: center;
  align-items:baseline;
}

header h1 { 
  text-align:center;
  font-size: 1rem;
  flex:1;
}

header span { 
  font-size: 1rem;
  align-self:baseline;
}

main { 
  display:flex;
  height:100%;
  min-height: 80vh;
}

main > section#before, 
main > section#after {
  flex: 1;
  padding: 10px;
  flex-direction:column;
  display:flex;
 
}

main > section textarea { 
  padding: 1em;
  flex: 1;
  font-size: x-large;
}

table { 
  border-collapse: collapse;
  margin: 0 auto;
  -moz-column-count: 3;
}

tbody tr:nth-child(odd) {
   background-color: #efefef;
}

td { 
  border: 1px solid #ddd;
  text-align:center;
}

th { 
  
}

section#after 
